@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

:root {
    --background: #e3e6f3;
}

body {
    background-image: linear-gradient(var(--background), white, white, white);
    background-repeat: no-repeat;

}

:root {
    --main-color: #034d48;
    --text-color: #088178;
    --bg-color: #fff;
}

header {
    position: fixed;
    width: 100%;
    z-index: 200;

}

.Header #Logo {
    margin-left: 3px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: black;
}





p {
   
    color: #465b52;
    margin: 15px 0 20px 0;

}

.Header {


    display: flex;

    justify-content: space-between;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
}



#Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

#Navbar a {
    padding: 0 30px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
    position: relative;
}

#Cart-icon {
    padding: 0 30px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
    position: relative;
    cursor: pointer;
}

#Navbar a:hover,
#Navbar a.active {
    color: #6E8898;
}

#Navbar a:active::after,
#Navbar a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #6E8898;
    position: absolute;
    bottom: -4px;
    left: 30px;
}

#Cart-icon:hover,
#Cart-icon.active {
    color: #6E8898;
}

#Cart-icon:active::after,
#Cart-icon:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #6E8898;
    position: absolute;
    bottom: -4px;
    left: 30px;
}

.maintext {

    height: 50vh;
    width: 50%;
    padding-top: 120px;
    padding-left: 10px;

}

#IndexContainer {
    display: flex;
}

.maintext h4 {
    padding-bottom: 15px;
    color: black;
}

.maintext h1 {
    color: #088178;

}

.maintext button {
    background-image: url(images/button.png);
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
.maintext a {
    text-decoration: none;
    color: #088178;
}
.maintext a:hover,
.maintext a:active {
    color: #6E8898;
}

.pro button {
    border: none;
    cursor: pointer;

}

.pro:hover button {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.06)
}

#product1 {
    text-align: center;

    margin-top: 40px;
    margin: 20px;


}

#product1 h4 {
    color: black;
}

#product1 .pro {
    margin: 30px;
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #465b52;
    border-radius: 25px;
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.1);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;

}

#product1 .pro:hover {
   
    border: 1px var(--main-color);
    transition: 0.2s;
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro span {
    color: #088178;
    font-size: 14px;
}


#product1 .pro h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;

}

#product1 .pro i {
    color: rgb(243, 181, 25)
}

#product1 .pro h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .fa-cart-shopping {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 16px;
    right: 5px;
    border-style: none;
    cursor: pointer;

}
#product1 .pro .fa-cart-shopping:hover, 
#product1 .pro .fa-cart-shopping:active {
    color: black;
}





#product1 h4 {
    color: #088178;
}



#Hovedbilde {
    margin-top: 5%;
    margin-right: 20px;


}
#Hovedbilde video {
    border: 4px solid var(--main-color);
    border-radius: 20px;

}

#product1 .product-containor {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#Shopproducts {
    height: 500px;
    border: 1px solid black;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 60px;



}

#dummy {
    /*Dummy for header sånn at den pusher ned*/
    height: 45px;
}

/*Cart*/

 #variableValue   {
    content: attr(data-quantity);
    position: absolute;
    top: 0;
    right:17px;
    width: 15px;
    height: 15px;
    background: var(--text-color);
    border-radius: 50%;
    color: white;
    font-size: 9px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}


.Cart { 
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 360px;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4%, 15% / 10%);
    z-index: 20;
    margin-top: 30px;
    border: none;
    transition: 0.3s;
    overflow-y: scroll;
    overflow-x: hidden;

}


.Cart .Cart::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

.Cart.active {
    right: -100vh;

}

.cart-title {
    text-align: center;
    font-size: 1.5em;
    margin-top: 12px;
}

.cart-img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: contain;
    padding: 10px;
}

.detaljer-box {
    display: grid;

}

.Cart-product-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.Cart-box {
    display: grid;
    grid-template-columns: 37% 50% 8%;
    align-items: center;
    gap: 1rem;
    margin-top: 0;

}

.cart-price {
    font-weight: 200;
    color: var(--main-color);
    cursor: pointer;
}

.cart-quantity {
    border: 1px solid var(--text-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
    outline-color: var(--main-color)
}

.cart-remove {
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);

}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    margin-left: 0.5rem;
}

.Button-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.Button-buy:hover {
    background: var(--text-color);
}

#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
}

.all-about {

    width: 98vw;
    display: flex;
    color: var(--text-color);
    margin-top: 80px;
    justify-content: space-around;
    color: black;
}

.all-about h3 {
    width: 500px;
    display: flex;
    margin-top: 89px;
}

.all-about img {
    height: 400px;


}

#Who {
    display: flex;
    margin-left: 470px;
    margin-top: 67px;
    color: var(--main-color);
    position: absolute;

}

.empty {
    height: 40px;
}

#banner {
    width: 100%;
    height: 25vh;
    background-color: black;
    background-image: url("Images/Banner.png");
    background-size: contain;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#banner h1,
h4 {
    color: white;


}



footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 0, 0, 0), #465b52);


}

footer .Col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 20px;

}

footer .Col h4 {
    color: black;

}

footer .footer_logo {
    margin-bottom: 10px;
    width: 200px;
}

footer h4 {
    font-size: 18px;
    margin-right: 50px;

}

footer a {
    font-size: 16px;
    text-decoration: none;
    color: #222;
    margin-bottom: 13px
}



footer .follow i {
    color: white;
    padding-right: 6px;
    cursor: pointer;
    font-size: 25px;
}
footer .follow i:hover,
footer a:hover {
    color: #088178;
}

.Apps_pay h4 {
    color: black;
}



.icon {
    font-size: 20px;
    padding-left: 10px;
    cursor: pointer;
}

.row img {
    border: 1px solid var(--text-color);
    border-radius: 6px;

}

.Apps_pay img {
    margin: 1px 0 1px 0;
    border: 1px solid var(--text-color);
    border-radius: 6px;

}

.Index {
    margin-top: -5px;
}

.contact_empty {
    height: 41px;
}

/* Contact*/
#Contact_details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

}

#Contact_details .details {
    width: 40%;
    margin: 70px;
}

#Contact_details .details span {
    font-size: 16px;
}

#Contact_details .details h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;

}

#Contact_details .details h3 {
    font-size: 26px;
    padding-bottom: 15px;
}

#Contact_details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#Contact_details .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#Contact_details .details li p {
    margin: 0;
    font-size: 14px;
}

#Contact_details .map {
    width: 55%;
    height: 360px;
    margin-right: 20px;
}

#Contact_details .map iframe {
    width: 100%;
    height: 100%;
}

#Form form {
    display: flex;
    flex-direction: column;
    padding: 80px;
    border: 1px solid #deb887;
}


#Form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px;
    margin-right: 60px;
}

.peopleBody {
    display: flex;
    flex-direction: column;
    border: 1px solid #deb887;
    padding: 80px;

}

#Form input,
#Form textarea {
    width: 70%;
    padding: 12px 15px;
    margin-bottom: 20px;
    outline: none;
    border: 1px solid #e1e1e1;
}

.submit {
    background-color: #088178;
    color: #fff;
    height: 70px;
    width: 200px;
    margin-bottom: 2px;
    border-radius: 6px;

}

#Form .people {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;



}

#Form .people img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 60px;
    border: 1px solid black;
}

#Form .people p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#Form .people p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: black;
}


#banner {
    width: 100%;
    height: 25vh;
    background-color: black;
    background-image: url("Images/Banner.png");
    background-size: contain;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.design-col-text-wrapper{
    margin-left: 3%;
}

.design-row-bottom-logo img{
    width: 90%;
    height: auto;

}

.design-row-bottom-logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.design-row-upper-text{
    display: flex;
    justify-content: space-between;
    width: 425px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 3%;
}

.design-row-py-banner{
    display: flex;
    flex-direction: column;
}

#designlogo{
    width: 100%;
    display: flex;
}

.Stylelogo p {
    padding: 5px;
    border: 2px solid burlywood;
    border-radius: 20px;
}

.Stylelogo h3 {
    padding: 20px;

    font-size: 25px;

}

.Stylelogo img {
    width: 200px;
    height: 50px;
}





#Farger h2 {

    font-size: 28px;
    line-height: 35px;
    padding: 6px;
    border: 1px;
    color: #088178;

}

#All_colors img {
    width: 180px;
    height: 170px;
    border: 1px solid black;
    border-radius: 20px;




}

#All_colors {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;




}

.Farger-Tekst {
    padding: 20px;
    justify-content: space-between;


}

.Farger-Tekst p {
    font-size: 17px;

}

#usage-color {
    border: 1px solid black;
    height: 155px;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    
    



}

.Usage-info-color {
    display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-size: 20px;
 

}

.Usage-info-color p {
text-align: center;
    width: 60%;
   margin-top: -15px;
    font-size: 20px;
}

.Single-bilde-pro {
    width: 40%;
    margin-right: 50px;

}

.merch img {
    width: 300px;
    height: 300px;
    border: 1px solid #088178;
    border-radius: 25px;
    margin-bottom: 2%;
}

.usage-merch p{
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    border: 1px solid var(--main-color);
    border-radius: 20px;
}
.Typography {
    display: flex;
    padding: 20px;
}

.Typography img {
    width: 600px;
    height: auto;
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
}
.Typography p{
    padding: 20px;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    padding: 20px;
    
}

#allwork {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    border-radius: 5px;

}

.work {    
display: flex;
    flex-wrap: wrap;
    height: auto;
  
    flex-direction: column;
    padding: 60px;


}
.Work-img {
    display: flex;
    width: 260px;
    height: 260px;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid var(--text-color);
    border-radius: 50px;
    
    
}

.Des-work {
    display: flex;
    flex-direction: column;
    border:2px solid var(--main-color);
    border-radius: 4px;
    align-items: center;
    text-align: center;
    width: 264px;
    justify-content: center;
    
}
.Link-dn {
    display: flex;
    justify-content: center;
    border: 1px solid var(--text-color);
    text-decoration: none;
    font-size: 17px;
    color: #088178;
    border-radius: 7px;
}
.Link-dn a:hover,
.Link-dn a.active {
    color: black
}











.empty {
    height: 20px;
}

    